<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Become a member</title>
  </head>
  <body>
    <h1>Become a member</h1>
    <form action="/membership" method="POST">
      <label for="firstName">What is the secret code? *</label>
      <input id="code" name="code" placeholder="****" type="text" />
      <button type="submit">Submit</button>
    </form>

    <% if (errors) {%> <% errors.forEach((err)=>{ %>
    <p><%= err%></p>
    <% }) } %>
  </body>
</html>
